/*http://flask.pocoo.org/docs/0.10/tutorial/css/*/
body            { font-family: sans-serif; background: #d8d8d8; }
h1, h2          { color: #003366; }
a               {color:#d8d8d8; padding-left:30px} 
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
nav             {background:#003366;}
a.logout        {position: relative;left: 80%;}
.contact_details{padding-left:20px;}
form.update     {display:inline}
form.add        {padding: 20px 0px 10px 30px;}
form.delete     {display:inline}
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
