<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <title>Manage My Phonebook</title>
    </head>
        <h2>Sign In</h2>
       {% block body %}
       <body>
            <p>
                <form name="phonebook" method="POST">
                    Phonebook Name: <input type="text" name="phonebook_name"><br>
                    Password:       <input type="password" name="password"><br>
                    <br>
                    <input type="submit" name="submit" value="Submit">

                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </p>
        {% endblock %}
        <br>
        <input type="submit" name="submit" value="Create New Phonebook">
        </form>

        </body>
</html>
